<form [formGroup]="personalityForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="personalityForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
      <mat-error *ngIf="personalityForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field class="example-chip-list">
    <mat-label>Characteristics</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter characteristics">
      <mat-chip-row *ngFor="let characteristic of characteristics"
        (removed)="remove(characteristic)"
        [editable]="true"
        (edited)="edit(characteristic, $event)"
        [aria-description]="'press enter to edit ' + characteristic.name">
        {{characteristic.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + characteristic.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New characteristic..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>
  
  <div class="form-field">
    <mat-form-field>
      <input matInput placeholder="Use Case" formControlName="use_case">
      <mat-error *ngIf="personalityForm.get('use_case')?.hasError('required')">
        Use Case is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
  </div>
  <div class="form-field">
    <mat-form-field>
      <input matInput placeholder="Image" formControlName="image">
      <mat-error *ngIf="personalityForm.get('image')?.hasError('required')">
        Image is required
      </mat-error>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
