
.form-field {
  margin-bottom: 20px;
}

.mat-input-element {
  background-color: transparent;
  width: calc(100% + 10px);
  margin-right: 20px;
}

.mat-form-field {
  width: calc(100% + 10px);
}

.mat-slide-toggle {
  margin-top: 10px;
}

button[type="submit"] {
  margin-top: 20px;
}
