<div class="card-container">
  <mat-card class="personality-card" *ngFor="let personality of personalities$ | async; index as i">
    <span class="status-indicator" [ngStyle]="{ 'background-color': personality.status ? 'green' : 'red' }"></span>
    <img mat-card-image src="https://picsum.photos/id/{{i}}/400/300">
    <mat-card-header>
      <mat-card-title>{{ personality.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ personality.description }}</p>
      <mat-chip-listbox>
        <mat-chip *ngFor="let chip of personality.characteristics">
          {{ chip }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editPersonality(personality)">Edit</button>
      <button mat-button color="warn" (click)="deletePersonality(personality.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>