.personality-card {
  width: calc(25% - 20px);
  margin: 10px;
  cursor: pointer;
  position: relative; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

@media only screen and (max-width: 768px) {
  .personality-card {
    width: 95%;
    margin: 10px;
  }

  .card-container {
    padding: 0;
  }
}

.status-indicator {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}