h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100%;
}

mat-sidenav {

  .entry{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding:0.75rem;
  }
}

.sideNavButton {
  position: fixed;
  display: none;
  top: 12px;
  left: 20px;
}

@media only screen and (max-width: 768px) {
  .sideNavButton {
    display: block;
  }

  mat-sidenav {
    width: 100%;
  }
}
