<app-top-bar></app-top-bar>
<button class="sideNavButton" (click)="openedSideNav = !openedSideNav">
  <mat-icon>menu</mat-icon>
</button>
<mat-sidenav-container autosize>
  <mat-sidenav [opened]="openedSideNav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/personality-list" routerLinkActive="active">
        <span class="entry">
          <mat-icon>list</mat-icon>
          <span>Listado de Personalidades</span>
        </span>
      </a>
      <a mat-list-item routerLink="/personality-form" routerLinkActive="active">
        <span class="entry" >
          <mat-icon>add</mat-icon>
          <span>Crear Nueva Personalidad</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
